# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=financeiro
DB_USER=postgres
DB_PASSWORD=postgres

# Spring Boot
SPRING_PROFILES_ACTIVE=dev

# JWT Auth
# Chave secreta de no mínimo 256 bits (32 caracteres) gerada em Base64
JWT_SECRET=YmVzdF9zZWNyZXRfa2V5X2Zvcl9nZXN0YW9fZmluYW5jZWlyb18yMDI2X2FwaV90b2tlbg==
JWT_EXPIRATION_MS=86400000 # 24 horas
